<header
  class="flex w-full items-center justify-between px-6 py-6 sm:px-12 md:px-20 lg:px-40">
  <h1 class="text-2xl font-bold tracking-tight"><%- include('logo') %></h1>
  <div class="flex items-center space-x-2 sm:space-x-4">
    <% if (!user) { %>
    <a
      href="/auth/login"
      class="text-gray-dark rounded-xl px-6 py-2 font-semibold hover:opacity-70">
      Login
    </a>
    <a
      href="/auth/register"
      class="bg-gray-dark hover:bg-gray-light rounded-xl px-6 py-2 font-semibold text-white">
      Get Started
    </a>
    <% } else { %>
    <a
      href="/apps"
      class="text-gray-dark rounded-xl px-6 py-2 font-semibold hover:opacity-70">
      My Apps
    </a>
    <a
      href="/auth/logout"
      class="text-gray-dark rounded-xl px-6 py-2 font-semibold hover:opacity-70">
      Logout
    </a>
    <% } %>
  </div>
</header>
