@import 'tailwindcss';

@theme {
  --color-red1: #e98074;
  --color-red2: #e85a4f;
  --color-gray-light: #383838;
  --color-gray-dark: #222222;
  --color-background: #f8f8f8;
}

input {
  -webkit-box-shadow: 0 0 0 30px #f8f8f8 inset !important;
  box-shadow: 0 0 0 30px #f8f8f8 inset !important;
  -webkit-text-fill-color: inherit !important;
}

/* Fix for checkbox appearance */
input[type='checkbox'] {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

*:focus-visible {
  outline: none;
}
